<div class = "entree">
<%= render 'entree' %>
<br>

<div class = "sortie">
<%= render 'sortie' %>
</div>

<div class = "bibli">
		<ul>
			<li>
			<%= link_to 'Situer un texte', bibliotheque_methode_path %>
			</li>
			<li>
			<%= link_to 'Analyser un texte', bibliotheque_methode_path %>
			</li>
			<li>
			<%= link_to "Méthodologie", bibliotheque_methode_path %>
			</li>
			<li>
			<%= link_to "Conjugaison", bibliotheque_methode_path %>
			</li>
			<li>
			<%= link_to "Grammaire", bibliotheque_methode_path %>
			</li>
			<li>
			<%= link_to "Orthographe", bibliotheque_methode_path %>
			</li>
		</ul>
</div>
</div>