<div class = "entree">
<%= render 'entree' %>
<br>

<div class = "sortie">
<%= render 'sortie' %>
</div>

<div class = "bibli">
		<ul>
			<li>
			<%= link_to 'Situer un texte', accueil_visite_path %>
			</li>
			<li>
			<%= link_to 'Analyser un texte', accueil_visite_path %>
			</li>
			<li>
			<%= link_to "Méthodologie", accueil_visite_path %>
			</li>
			<li>
			<%= link_to "Conjugaison", accueil_visite_path %>
			</li>
			<li>
			<%= link_to "Grammaire", accueil_visite_path %>
			</li>
			<li>
			<%= link_to "Orthographe", accueil_visite_path %>
			</li>
		</ul>
</div>
</div>