<div class = "entree">
<%= render 'entree' %>
<br>

<div class = "sortie">
<%= render 'sortie' %>
</div>

<div>
		<ul>
		<% if params['filtre'] == "16e" %><li class = "li_2"><% end %>
		<%= link_to 'XVIe siècle', bibliotheque_parsiecle_path(:filtre => '16e') %></li><br>
		<% if params['filtre'] == "17e" %><li class = "li_2"><% end %>
		<%= link_to 'XVIIe siècle', bibliotheque_parsiecle_path(:filtre => '17e') %></li><br>
		<% if params['filtre'] == "18e" %><li class = "li_2"><% end %>
		<%= link_to 'XVIIIe siècle', bibliotheque_parsiecle_path(:filtre => '18e') %></li><br>
		<% if params['filtre'] == "19e" %><li class = "li_2"><% end %>
		<%= link_to 'XIXe siècle', bibliotheque_parsiecle_path(:filtre => '19e') %></li><br>
		<% if params['filtre'] == "20e" %><li class = "li_2"><% end %>
		<%= link_to 'XXe siècle', bibliotheque_parsiecle_path(:filtre => '20e') %></li><br>
		</ul>
</div>
</div>
