<%= link_to('users/new') do %><%= image_tag 'promo1.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Commentaires composés pour le collège et le lycée. </div><br>

<%= link_to('users/new') do %><%= image_tag 'promo2.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Les meilleures méthodes pédagogiques en vidéo.</div><br>

<%= link_to('users/new') do %><%= image_tag 'promo4.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Visionnez n'importe quel cours à volonté.</div><br>

<%= link_to('users/new') do %>
<div class = "bouton">
Compte gratuit !</div>
<% end %>